@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}

@{
	<div class="text-center" style="margin-top: 1rem">
		<h3>Itens mais vendidos</h3>
	<p hidden id="workingMessage">Gerando relatório, aguarde. Dependendo de quantas vendas foram feitas isso pode demorar um pouco.</p>
		<div class="row">
			<div class="col">
				<label for="dataInicioField">De: </label>
				<input lang="pt-BR" type="date" id="dataInicioField"/>
			</div>
			<div class="col">
				<label for="dataFimField">Até: </label>
				<input lang="pt-BR" type="date" id="dataFimField" />
			</div>
			<div class="col">
				<button class="btn btn-primary" onClick="gerarRelatorio()" id="gerarRelatorioButton">Gerar Relatório</button>
			</div>
		</div>
		<div>
			<table id="produtosTable" class="table table-bordered table-hover table-responsive" width="100%">
				<thead>
				<tr id="tableHeaders">
					<th>Vendedor</th>
					<th>MLB</th>
					<th>Descrição</th>
					<th>Vendidos</th>
				</tr>
				</thead>
				<tbody id="tableBody"></tbody>
			</table>
		</div>
	</div>
}

@section Scripts{
	<script src="~/js/geraReport.js"></script>
}
